p:first-of-type {
    color: aquamarine;
    font-style: italic;
}

.button:link, 
.button:visited {
    display: block;
    text-decoration: none;
    
    color: antiquewhite;
    background-color: coral;
    
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid coral;
    border-radius: 200px;
    

    width: 200px;
    margin: 20px auto;
}

.button:hover,
.button:visited:hover {
    color: wheat;
    background-color: cadetblue;
    border: 2px solid cadetblue;
}

.button:active,
.button:visited:active {
    color: wheat;
    background-color: darkolivegreen;
    border: 2px solid darkolivegreen;
} 

.page {
    width: 500px;
    margin: 0 auto;
}

.call-to-action {
    font-style: italic;
    background-color: coral;
}

p:last-of-type {
    margin-bottom: 50px;
}

a:link {
    color: aquamarine;
    text-decoration: none;
}

a:visited {
    color: brown;
}

a:hover {
    color: chocolate;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited:hover {
    color: orange;
}