.synopsis {
    color: aquamarine;
    font-style: italic;
}

.button {
    color: antiquewhite;
    background-color: coral
    
    
    ;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid coral;
    border-radius: 200px;
    

    width: 200px;
    margin: 20px auto;
}

.page {
    width: 500px;
    margin: 0 auto;
}

.call-to-action {
    font-style: italic;
    background-color: coral;
}

a:link {
    color: aquamarine;
    text-decoration: none;
}

a:visited {
    color: brown;
}

a:hover {
    color: chocolate;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited:hover {
    color: orange;
}