* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: salmon;
    color: whitesmoke;
}

em, strong {
    background-color: beige;
    display: inline;
}

h1 {
    padding: 50px;
    border: 1px solid plum;
    border-bottom: 1px solid plum;
}

p {
    padding: 20px 20px;
    margin-bottom: 50px;
    margin-top: 25px;
}

div {
    color: whitesmoke;
    background-color: salmon;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid salmon;
    border-radius: 100px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}

body {
    text-align: center;
}